/*
Color Usage
Mulled Wine:    #434367
Blue Violet:    #696CB7
Silver Chalice: #A9A9A9
White:          #FFFFFF
De York:        #76C284
Tradewind:      #69A8B7
*/

* {
  box-sizing: border-box;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 300;
  line-height: 1.5;
}

/*Base Style*/

/*Header Style*/

.header-main,
.icon-bell,
.profile-header {
  display: flex;
  align-items: center;
}


.header-main {
  background-color: #696CB7;
  padding: 10px 20px;
  color: #ffffff;
}

/* Logo */

.logo-header {
  font-size: 1.5rem;
  font-weight: 100;
}

.logo-header span {
  font-weight: 700;
}

.logo-header sup {
  font-size: .5rem;
  vertical-align: super;
}

/* Bell Icon */

.icon-bell {
  justify-content: center;
  margin-left: auto;
  padding-right: 1rem;
  border-right: 1px solid #434367;
}

.icon-bell svg {
  width: 1.5rem;
}

.icon-bell .noti {
  width: .5rem;
  height: .5rem;
  border-radius: .5rem;
  align-self: flex-start;
  background-color: #76C284;
}

/* Header Profile*/
.profile-header {
  margin-left: 1rem;
}

.profile-header .photo-profile {
  display: inline-block;
  width: 2rem;
  border-radius: 1rem;
  margin-right: .5rem;
}
